<h3>Add Passenger</h3>
<div [hidden]="submitted">
    <form #addPassengerForm="ngForm">

      <div class="form-group">
        <label for="firstname">First Name</label>
        <input type="text" class="form-control" id="firstname" placeholder="Give Passenger's FirstName" 
        required
        [(ngModel)]="passenger.firstname" name="firstname" #firstname="ngModel">
        <div [hidden]="firstname.valid || firstname.pristine"
             class="alert alert-danger">
            First Name is required
        </div>
      </div>
      
      <div class="form-group">
        <label for="lastname">Last Name</label>
        <input type="text" class="form-control" id="lastname" placeholder="Give Passenger's LastName"
        required
        [(ngModel)]="passenger.lastname" name="lastname" #lastname="ngModel">
        <div [hidden]="lastname.valid || lastname.pristine"
             class="alert alert-danger">
            Last Name is required
        </div>
      </div>
      
      <div class="form-group">
        <label for="IdentificationNbr">Identification Number</label>
        <input type="number" class="form-control" id="IdentificationNbr" 
        placeholder="Give Passenger's Identification Number"
        required
        [(ngModel)]="passenger.IdentificationNbr" name="IdentificationNbr" #IdentificationNbr="ngModel">
        <div [hidden]="IdentificationNbr.valid || IdentificationNbr.pristine"
             class="alert alert-danger">
            Identification Number is required
        </div>
      </div>
      
      <div class="btn-group btn-group-sm">
      	<button type="button" class="btn btn-dark" (click)="goBack()">Back</button>
      	<button type="button" class="btn btn-dark" (click)="addPassenger()" [disabled]="!addPassengerForm.form.valid">Add</button>
      </div>
    </form>
</div>

<div [hidden]="!submitted">
  <p>Submitted Successfully! -> <span class="badge badge-light">{{passenger.firstname}}  {{passenger.lastname}}</span></p>
	<div class="btn-group btn-group-sm">
    	<button type="button" class="btn btn-dark" (click)="goBack()">Back</button>
    	<button type="button" class="btn btn-dark" (click)="newPassenger(); addPassengerForm.reset()">Continue</button>
    </div>
</div>