<div class="container">
  <div class = "jumbotron">
  <div class="row">
      <!-- <h1 style ="color:crimson">Centrale <span style="color:grey"> Airways</span> </h1> -->
      <img _ngcontent-c0="" alt="Centrale Airways" height="240px" src="../assets/logo.png" width="70%" style="
    padding-left: 290px;
">
  </div>
  <div><h2 style="text-align:center"> 50% crash rate only !</h2></div>
  <div class="row">
      <ul class="nav justify-content-center">
          <li class="nav-item">
              <a routerLink="persons" class="btn btn-light btn-sm" role="button" routerLinkActive="active">Retrieve</a> 
          </li>
          <li class="nav-item">
              <a routerLink="person/add" class="btn btn-light btn-sm" role="button" routerLinkActive="active">Create</a>
          </li>
          <li class="nav-item">
              <a routerLink="person/add" class="btn btn-light btn-sm" role="button" routerLinkActive="active">Persons</a>
          </li>
          <li class="nav-item">
              <a routerLink="person/add" class="btn btn-light btn-sm" role="button" routerLinkActive="active">Create</a>
          </li>
      </ul>
  </div>
</div>
<div class="row">
    <div class="panel panel-danger" style="width:98%">
        <div class = panel-heading>
            Header
        </div>
        <div class = panel-body>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
</div>