<h5>All Persons</h5>
<div *ngFor="let person of persons ">
  <a [routerLink]="['/persons', person.id]" style="color:black"><span class="badge badge-dark">{{person.firstname}} -  {{ person.lastname }}</span> : {{ person.firstname }}</a>
</div>
<ul class="nav justify-content-center">
        <li class="nav-item">
<a routerLink="/person/add" class="btn btn-light btn-sm" role="button" routerLinkActive="active">Add Person</a>
</li>
</ul>