<h5>All Passengers</h5>
<div *ngFor="let passenger of passengers ">
  <a [routerLink]="['/passengers', passenger.id]" style="color:black"><span class="badge badge-dark">{{passenger.firstname}} -  {{ passenger.lastname }}</span> : {{ passenger.firstname }}</a>
</div>
<ul class="nav justify-content-center">
        <li class="nav-item">
<a routerLink="/passenger/add" class="btn btn-light btn-sm" role="button" routerLinkActive="active">Add Passenger</a>
</li>
</ul>